<?xml version="1.0" encoding="UTF-8"?>

<model>
  <name>arena</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
    <name>Dzulfikar Saifuddin, Syahirul Sakhoo Alim</name>
    <email>dzulfikarsaifuddin@mail.ugm.ac.id, syahirulsakhooalim@mail.ugm.ac.id</email>
  </author>

  <description>
    Arena for Kontes Robot SAR Republik Indonesia(KRSRI) division in Kontes Robot Indonesia(KRI).
  </description>
</model>